<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.karen-keyboard-layouts</string>
	<key>CFBundleName</key>
	<string>Karen Keyboard Layouts</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Sgaw Karen</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISIconIsTemplate</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.karen-keyboard-layouts.sgawkaren</string>
		<key>TISIntendedLanguage</key>
		<string>ksw</string>
	</dict>
	<key>KLInfo_Western Pwo Karen</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.karen-keyboard-layouts.westernpwokaren</string>
		<key>TISIntendedLanguage</key>
		<string>pwo</string>
	</dict>
</dict>
</plist>
